<div class="ui segment">


  <h1>Fighters list</h1>

  <table class="ui very basic table">
    <thead>
      <tr>
        <th class="one wide">Selfie</th>
        <th>Name</th>
        <th>Hp</th>
        <th>Atk</th>
        <th>Winrate</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>

        <tr>
          <td><%= image_tag(character.selfie_url, size: "30x30") %></td>
          <td><b><%= character.name %></b></td>
          <td><%= character.hp %></td>
          <td><%= character.attack_points %></td>
          <td><%= win_rate(character) %>%</td>
          <td><%= link_to 'Show', character %></td>
          <td><%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tfoot class="full-width">
        <tr>
          <th colspan="16">
            <%= link_to '<i class="user icon"></i> Create character'.html_safe, new_character_path, class: "ui right floated small primary labeled icon button" %>
          </th>
        </tr>
      </tfoot>
    </tbody>
  </table>
</div>
