<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Level :</strong>
  <%= @character.level %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @character.hp %>
</p>

<p>
  <strong>Attack points:</strong>
  <%= @character.attack_points %>
</p>

<p>
  <strong>Agility :</strong>
  <%= @character.agility%>
</p>

<div class='ui buttons'>
<%= link_to 'Edit', edit_character_path(@character), class: 'ui button' %>
<%= link_to 'Back', arena_path, class: 'ui button' %>
</div>
