<%= form_with(model: fight, local: true, class: 'ui form') do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>
      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_fighter %>
    <%= form.select(:first_fighter_id, Character.all.collect {|a| [a.name, a.id]}, {}, class: "ui dropdown") -%>
  </div>

  <div class="field">
    <%= form.label :second_fighter %>
    <%= form.select(:second_fighter_id, Character.all.collect {|a| [a.name, a.id]}, {}, class: "ui dropdown") -%>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class: "ui button" %>
  </div>
<% end %>
