<h1>Fights list</h1>

<table class="ui very basic table">
  <thead>
    <tr>
      <th>First fighter</th>
      <th>Second fighter</th>
      <th>Winner</th>
      <th>Loser</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.first_fighter.name %></td>
        <td><%= fight.second_fighter.name %></td>
        <td><%= fight.winner.name %></td>
        <td><%= fight.loser.name %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path, class: 'ui primary button' %>
