<p id="notice"><%= notice %></p>

<h1>Fights</h1>

<table class="ui very basic table">
  <thead>
    <tr>
      <th>First fighter</th>
      <th>Second fighter</th>
      <th>Winner</th>
      <th>Loser</th>
      <th>Fight history</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.first_fighter %></td>
        <td><%= fight.second_fighter %></td>
        <td><%= fight.winner %></td>
        <td><%= fight.loser %></td>
        <td><%= fight.fight_history %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
