<h1>Fights list</h1>

<table class="ui very basic table">
  <thead>
    <tr>
      <th class="two wide">Fight</th>
      <th class="two wide right aligned">Winner</th>
      <th class="one wide"></th>
      <th class="two wide">Date created</th>
      <th class="one wide"></th>
      <th class="one wide"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><b><%= fight.first_fighter.name %></b> / <b><%= fight.second_fighter.name %></b></td>
        <td class="right aligned"><%= fight.winner.name %></td>
        <td><%= image_tag(fight.winner.selfie_url, size: "30x30") %></td>
        <td><%= time_ago_in_words(fight.created_at) %></td>
        <td><%= link_to 'Fight review', fight %></td>
        <td><%= link_to 'Delete', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path, class: 'ui primary button' %>
