<p>
  <strong>First fighter:</strong>
  <%= @fight.first_fighter.name %>
</p>

<p>
  <strong>Second fighter:</strong>
  <%= @fight.second_fighter.name %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @fight.winner.name %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @fight.loser.name %>
</p>

<p>
  <strong>Fight history:</strong>
  <% digest_fight_history(@fight).each do |str| %>
    <p><%= str %></p>
  <% end %>
</p>

<%= link_to 'Back', arena_path, class: 'ui button' %>
