<!DOCTYPE html>
<html>
  <head>
    <title>CaptainArena</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <%= semantic_flash %>
      <div class="ui secondary menu">
        <%= link_to 'CAPTAIN ARENA', root_path, class: "header item" %>
        <%= link_to 'Fighters', characters_path, class: (current_page?(characters_path) ? 'active item' : 'item') %>
        <%= link_to 'Fights history', fights_path, class: (current_page?(fights_path) ? 'active item' : 'item') %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
